
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
    color: #E0E0E0;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 900px;
    margin: 0 auto;
    gap: 10px;
}

.deslogeado_contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30rem;
}

.deslogeado_contenedor img{
    width: 70%;
}

.interfaz_contenedor {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

justify-self: center;
width: 70%;
margin-top: 30px;
}

.Saldo { grid-area: 1 / 2 / 2 / 5; 
background-color: rgb(71, 71, 71);
border-radius: 2rem;
padding: 8px;
justify-items: center;
font-family:'Courier New', Courier, monospace;
}

.pesos{
    font-size: large;
}
.dolares{
    font-size: medium;
}

.div2 { grid-area: 3 / 1 / 4 / 2; }
.div3 { grid-area: 3 / 3 / 4 / 4; }
.div4 { grid-area: 3 / 5 / 4 / 6; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 5 / 3 / 6 / 4; }
.div7 { grid-area: 5 / 5 / 6 / 6; }


.ops{
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    height: 5rem;
    border-radius: 20%;
    border: none;
}

.ops:active {
    background-color: rgb(38, 76, 126);
}

.imput_request {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5px;
    justify-content: center;
}

.lista_usuarios{
    display: flex;
    margin: 5%;
    gap: 5px;
}


.cards{
    padding: 20px;
    border-radius: 20%;
    background-color: rgba(240, 240, 240, 0.267);
}

span{
    color: rgb(255, 0, 0);
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #353535c7;
}